<div class="modal fade" id="new-redemption-instruction-modal" data-target="#new-redemption-instruction-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title mb-4"><strong><%= t('.new') %></strong></h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
              <%= yield :form %>
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>