---
http_interactions:
- request:
    method: post
    uri: https://staging2.datawire.net/sd
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Request Version="3"><ReqClientID><DID>00033746370969070150</DID><App>BRIDGEPINCVLKXML</App><Auth>99026809996|00000008594</Auth><ClientRef>2348540V001000</ClientRef></ReqClientID><Transaction><ServiceID>104</ServiceID><Payload>SV.99026809996|1C402102|1C12182348|1C1302052019|1C42990268099968594|1C4400000008594|1CEA30|1CF236386|1C1542|1C044200|1C081|1CC0840|1CF3108|1C7FTaco</Payload></Transaction></Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE Response SYSTEM "dwxmlapi3.dtd">
        <Response Version="3">
         <RespClientID>
          <DID>00033746370969070150</DID>
          <ClientRef>2348540V001000</ClientRef>
         </RespClientID>
         <Status StatusCode="OK"></Status>
         <TransactionResponse>
          <ReturnCode>000</ReturnCode>
          <Payload>40|1C0900|1C11007060|1C38778088|1C3900|1C750|1C764200|1C707777165452329580|1CA001013025|1C1542|1C42990268099968594|1C4400000008594|1CF62102|1C7FTaco|1CB00|1C780|1C34BAA5D06EF10D4FD2F05DFD3D605E56DE|1CC0840</Payload>
         </TransactionResponse>
        </Response>
  recorded_at: Tue, 05 Feb 2019 18:23:49 GMT
- request:
    method: post
    uri: https://staging2.datawire.net/sd
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Request Version="3"><ReqClientID><DID>00033746370969070150</DID><App>BRIDGEPINCVLKXML</App><Auth>99026809996|00000008594</Auth><ClientRef>2349094V001000</ClientRef></ReqClientID><Transaction><ServiceID>104</ServiceID><Payload>SV.99026809996|1C402004|1C12182349|1C1302052019|1C42990268099968594|1C4400000008594|1CEA30|1C707777165452329580|1C34BAA5D06EF10D4FD2F05DFD3D605E56DE|1CF3108|1CFAY|1C7FTaco</Payload></Transaction></Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE Response SYSTEM "dwxmlapi3.dtd">
        <Response Version="3">
         <RespClientID>
          <DID>00033746370969070150</DID>
          <ClientRef>2349094V001000</ClientRef>
         </RespClientID>
         <Status StatusCode="OK"></Status>
         <TransactionResponse>
          <ReturnCode>000</ReturnCode>
          <Payload>40|1C0900|1C11007089|1C38376861|1C3900|1C754200|1C760|1C707777165452329580|1CA001013025|1C42990268099968594|1C4400000008594|1CF62004|1C7FTaco|1CB00|1C780|1CC0840</Payload>
         </TransactionResponse>
        </Response>
  recorded_at: Tue, 05 Feb 2019 18:23:49 GMT
recorded_with: VCR 4.0.0
