---
http_interactions:
- request:
    method: post
    uri: https://staging2.datawire.net/sd
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Request Version="3"><ReqClientID><DID>00033746370969070150</DID><App>BRIDGEPINCVLKXML</App><Auth>99026809996|00000008594</Auth><ClientRef>3020745V001000</ClientRef></ReqClientID><Transaction><ServiceID>104</ServiceID><Payload>SV.99026809996|1C402102|1C12183020|1C1302052019|1C42990268099968594|1C4400000008594|1CEA30|1CF236386|1C1532|1C041200|1C081|1CC0840|1CF3108|1C7FTaco</Payload></Transaction></Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE Response SYSTEM "dwxmlapi3.dtd">
        <Response Version="3">
         <RespClientID>
          <DID>00033746370969070150</DID>
          <ClientRef>3020745V001000</ClientRef>
         </RespClientID>
         <Status StatusCode="OK"></Status>
         <TransactionResponse>
          <ReturnCode>000</ReturnCode>
          <Payload>40|1C0900|1C11007051|1C38279737|1C3900|1C750|1C761200|1C707777165452333073|1CA001013025|1C1532|1C42990268099968594|1C4400000008594|1CF62102|1C7FTaco|1CB00|1C780|1C347D7ED453E1C11A3271B25089599A5FE4|1CC0840</Payload>
         </TransactionResponse>
        </Response>
  recorded_at: Tue, 05 Feb 2019 18:30:21 GMT
[...]
- request:
    method: post
    uri: https://staging2.datawire.net/sd
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Request Version="3"><ReqClientID><DID>00033746370969070150</DID><App>BRIDGEPINCVLKXML</App><Auth>99026809996|00000008594</Auth><ClientRef>3022363V001000</ClientRef></ReqClientID><Transaction><ServiceID>104</ServiceID><Payload>SV.99026809996|1C402016|1C12183022|1C1302052019|1C42990268099968594|1C4400000008594|1CEA30|1C707777165452333073|1C347D7ED453E1C11A3271B25089599A5FE4|1CF3108|1C7FTaco</Payload></Transaction></Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE Response SYSTEM "dwxmlapi3.dtd">
        <Response Version="3">
         <RespClientID>
          <DID>00033746370969070150</DID>
          <ClientRef>3022363V001000</ClientRef>
         </RespClientID>
         <Status StatusCode="OK"></Status>
         <TransactionResponse>
          <ReturnCode>000</ReturnCode>
          <Payload>40|1C0900|1C11007072|1C38705551|1C3900|1C751200|1C761200|1C707777165452333073|1CA001013025|1C42990268099968594|1C4400000008594|1CF62016|1C7FTaco|1CB00|1C780|1CC0840</Payload>
         </TransactionResponse>
        </Response>
  recorded_at: Tue, 05 Feb 2019 18:30:22 GMT
recorded_with: VCR 4.0.0
