<button id="print-btn" class="btn btn-outline-primary print-btn" type="button" onclick="print()" title="<%= t('layouts.enrollment.print_form.print_button') %>">
  <span class="fas fa-print print-btn__icon"></span>
</button>