<% content_for(:title) { t '.title' } %>

<section class="enrollment-header">
  <div class="container">
    <%= render 'shared/enrollment/nav', navigation: navigation %>
    <h1><%= t('.header') %></h1>
  </div>
</section>

<%= render 'form', order: @order %>
