<div class="jumbotron">
  <h1><%= t '.title' %></h1>
  <p class="lead">
    <%= t '.message' %>
  </p>
  <%= link_to t('.action'), '#edit_organization_path(current_organization)', class: 'btn btn-primary btn-lg' %>
</div>
