#customer-card-load {
  .order-total-charges,
  .order-total-fees,
  .order-total-members {
    padding-right: 1em;
    padding-left: 1em;
    text-align: right;
  }

  .order-billing-period {
    text-align: center;
  }
}
