* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.align-code-amount-block{
  display: initial !important;
}

.page-title-create-order {
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5em;
  text-align: center
}