.order-search {
  @include search-form;

  select {
    width: 50em;
  }
}

.status-container {
  @extend .card;
  padding: 2em;
  margin-bottom: 10px;

  header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .status-label {
    font-size: 14px;
    font-weight: bold;
    color: gray;
  }

  .green {
    background-color: #17a515;
    color: black;
    display: inline-block;
    padding: 1px 2px 1px 2px;
  }

  .red {
    background-color: red;
    color: black;
    display: inline-block;
    padding: 1px 2px 1px 2px;
  }

  .good {
    background-color: #17a515;
    color: black;
    display: inline-block;
    padding: 1px 2px 1px 2px;
  }

  .billing_issue {
    background-color: red;
    color: black;
    display: inline-block;
    padding: 1px 2px 1px 2px;
  }
}
