.payment-details {
  min-width: 250px;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__header {
    @include make-col(6);
    font-weight: bold;
  }

  &__data {
    @include make-col(6);
  }
}

.payment-edit-form {
  padding-right: 2em;
  width: 60%;
  margin-left: 15%;
}

.payment-edit-title {
  margin-left: 15%;
}
