$btn-line-height: 2;
$navbar-nav-link-padding-x: 2em;
$border-radius: 4px;
$nav-logo-height: 74px;
$caret-width: .2em;

$small-font-size: 90%;
$font-family-sans-serif: "mr-eaves-xl-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 928px,
  xl: 930px
) !default;
